{% extends 'base.html' %}

{% block title %} {{title}} {% endblock title %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-10 mx-auto mt-5">
            <div class="card">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-info shadow-info border-radius-lg py-3 pe-1">
                        <h4 class="text-white font-weight-bolder text-center mt-2 mb-0"> Ajouter un membre </h4>
                    </div>
                </div>
                <div class="p-3"><br>
                    <form action="" role="form" class="text-start" method="POST">{% csrf_token %}

                        <!-- {{ form|crispy }} -->
                        <div class="row">  
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <b> Nom </b>
                                        <div class="input-group input-group-outline mb-3">
                                            <label class="form-label"> Votre nom </label>{{ form.name }}
                                            <span class="danger">{{ form.name.errors }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <b> Prénom </b>
                                        <div class="input-group input-group-outline mb-3">
                                            <label class="form-label"> Votre prénom </label>{{ form.surname }}
                                            <span class="danger">{{ form.surname.errors }}</span>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="row">
                                    <div class="col-md-6">
                                        <b> Date de Naissance </b>
                                        <div class="input-group input-group-outline mb-3">
                                            <label class="form-label"></label>{{ form.birth }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <b> Lieu de Naissance </b>
                                        <div class="input-group input-group-outline mb-3">
                                            <label class="form-label"> Née à... </label>{{ form.birthplace }}
                                            <span class="danger">{{ form.birthplace.errors }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <b> Age </b>
                                        <div class="input-group input-group-outline mb-3">
                                            <label class="form-label"> Votre âge </label>{{ form.age }}
                                            <span class="danger">{{ form.age.errors }}</span>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="row">
                                    <b> Sexe </b>
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label"></label>{{ form.sex }}
                                        <span class="danger">{{ form.sex.errors }}</span>
                                    </div>
                                </div>
            
                                <div class="row">
                                    <div class="col-md-6">
                                        <b> Métier ou Occupation </b>
                                        <div class="input-group input-group-outline mb-3">
                                            <label class="form-label"> Votre métier ou occupation </label>{{ form.job }}
                                            <span class="danger">{{ form.job.errors }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <b> Diplôme </b>
                                        <div class="input-group input-group-outline mb-3">
                                            <label class="form-label"> Votre diplôme </label>{{ form.diploma }}
                                            <span class="danger">{{ form.diploma.errors }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <b> Date du baptême </b>
                                        <div class="input-group input-group-outline mb-3">
                                            <label class="form-label"></label>{{ form.baptism }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <b> Date de la Confirmation </b>
                                        <div class="input-group input-group-outline mb-3">
                                            <label class="form-label"></label>{{ form.sacrament }}
                                        </div>
                                    </div>
                                </div>
            
                                <div class="row">
                                    <div class="col-md-12">
                                        <b> " Zanak' Ampielezana " </b>
                                        <div class="input-group input-group-outline mb-3">
                                            <label class="form-label"> Zanak' Ampielezana </label>{{ form.faction }}
                                            <span class="danger">{{ form.faction.errors }}</span>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="row">
                                    <b> Situation </b>
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label"></label>{{ form.situation }}
                                        <span class="danger">{{ form.situation.errors }}</span>
                                    </div>
                                </div>
            
                                <div class="row">
                                    <div class="col-md-6">
                                        <b> Date de fiançaille </b>
                                        <div class="input-group input-group-outline mb-3">
                                            <label class="form-label"></label>{{ form.engagement }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <b> Date de marriage </b>
                                        <div class="input-group input-group-outline mb-3">
                                            <label class="form-label"></label>{{ form.marriage }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <b> Famille de </b>
                                        <div class="input-group input-group-outline mb-3">
                                            <label class="form-label"> Famille de... </label>{{ form.familytree }}
                                            <span class="danger">{{ form.familytree.errors }}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                            <center><div class="col-md-6">
                                <input class="btn btn-outline-info" type="submit" value="Enregistrer les données">          
                            </div></center>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}