{% extends 'base.html' %}

{% block title %} {{title}} {% endblock title %}

{% load static %}

{% block content %}

<div class="container-fluid py-4">
<div class="row">
    <div class="col-12">

        <div class="row">
            <div class="col-sm-9">
                <a class="add-button" href="{% url 'add_sacrament' %}"> Ajouter une confirmation </a>
            </div>
            <div class="col-sm-3">
                <form class="d-flex" action="" method="GET">{% csrf_token %}
                    <i class="material-icons mr-2 mt-2 opacity-10">filter_list</i> <span class="mx-2 mt-2"> Filtrer </span>
                    <div class="input-group input-group-outline">
                        <label class="form-label">Filtrer...</label>
                        <input type="text" class="form-control" name="sacrament_filter" value="{{ request.GET.sacrament_filter }}">
                    </div>
                    <button class="btn btn-light d-none" type="submit">
                    </button>
                </form>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-info shadow-info border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-center text-capitalize ps-3"> Liste des confirmations effectués </h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center justify-content-center mb-0">
                    <thead>
                        <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Nom et Prénom </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Date et lieu de naissance </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Famille de  </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Fils ou fille de </th>
                        <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sacrament in sacraments %}
                        <tr>
                        <td>
                            <div class="d-flex px-2">
                            <!-- div>
                                <img src="#" class="avatar avatar-sm rounded-circle me-2" alt="spotify">
                            </div -->
                            <div class="my-auto">
                                <h6 class="mb-0 text-sm ps-2"> {{ sacrament.name }} {{ sacrament.surname }} </h6>
                            </div>
                            </div>
                        </td>
                        <td>
                            <span class="text-xs font-weight-bold"> {{ sacrament.birth }} à {{ sacrament.birthplace }} </span>
                        </td>
                        <td>
                            <span class="text-xs font-weight-bold"> {{ sacrament.familytree }} </span>
                        </td>
                        <td>
                            <span class="text-xs font-weight-bold"> {{ sacrament.father }} et de {{ sacrament.mother }} </span>
                        </td>
                        </td>
                        <td class="align-middle">
                            <button type="button" class="btn btn-link text-secondary mb-0" data-toggle="modal" data-target="#lookModal"
                                data-name="{{ sacrament.name }}" data-surname="{{ sacrament.surname }}"
                                data-birth="{{ sacrament.birth }}" data-birthplace="{{ sacrament.birthplace }}"
                                data-sex="{{ sacrament.sex }}" data-age="{{ sacrament.age }}"
                                data-sacrament-date="{{ sacrament.sacrament_date }}"
                                data-father="{{ sacrament.father }}" data-mother="{{ sacrament.mother }}"
                                data-familytree="{{ sacrament.familytree }}"
                            >
                                <i class="material-icons fs-3 opacity-10">perm_contact_calendar</i>
                            </button>

                            <button type="button" data-toggle="modal" data-target="#deleteModal" class="btn btn-link text-secondary mb-0">
                                <a href="{% url 'edit_sacrament' pk=sacrament.pk %}">
                                    <i class="material-icons fs-3 opacity-10">mode_edit</i>
                                </a>
                            </button>

                            <button type="button" class="btn btn-link text-secondary mb-0" data-toggle="modal" data-target="#deleteModal"
                                data-sacrament-id="{{ sacrament.pk }}" data-sacrament-name="{{ sacrament.name }} {{ sacrament.surname }}"
                            >
                                <i class="material-icons fs-3 opacity-10">highlight_off</i>
                            </button>

                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Confirmer la suppression</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Êtes-vous sûr de vouloir supprimer la Confirmation de <span id="modal-sacrament-name"></span> ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            <button type="button" class="btn btn-danger" onclick="deleteSacrament()">Supprimer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="lookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content p-3">
                                        <div class="modal-header">
                                            <i class="material-icons opacity-10" style="font-size: 50px">fingerprint</i>
                                        </div>

                                        <br>
                                        <p class="p-auto"> <b style="color: #009FF0"> Nom et prénom: </b> <span id="modal-data-name"></span> <span id="modal-data-surname"></span> </p>
                                        <p class="p-auto"> <b style="color: #009FF0"> Née le: </b>  <span id="modal-data-birth"></span> <b> à </b> <span id="modal-data-birthplace"></span> </p>
                                        <p class="p-auto"> <b style="color: #009FF0"> Sexe: </b> <span id="modal-data-sex"></span> </p>
                                        <p class="p-auto"> <b style="color: #009FF0"> Age: </b> <span id="modal-data-age"></span> </p>
                                        <p class="p-auto"> <b style="color: #009FF0"> Date du baptême: </b> <span id="modal-data-sacrament-date"></span> </p>
                                        <p class="p-auto"> <b style="color: #009FF0"> Fils ou fille de: </b> <span id="modal-data-father"></span> <b> et de </b> <span id="modal-data-mother"></span> </p>
                                        <p class="p-auto"> <b style="color: #009FF0"> De la famille de: </b> <span id="modal-data-familytree"></span> </p>
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"> Fermer </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>

                <div class="pagination justify-content-center p-2">
                    <span class="step-links">
                        {% if sacraments.has_previous %}
                            <a href="?page=1">
                                <i class="fa fa-backward px-2"></i>
                            </a>
                            <a href="?page={{ sacraments.previous_page_number }}">
                                <i class="fa fa-chevron-circle-left px-2"></i>
                            </a>
                        {% endif %}
                
                        <span class="current">
                            Page n° {{ sacraments.number }} sur {{ sacraments.paginator.num_pages }}
                        </span>
                
                        {% if sacraments.has_next %}
                            <a href="?page={{ sacraments.next_page_number }}">
                                <i class="fa fa-chevron-circle-right px-2"></i>
                            </a>
                            <a href="?page={{ sacraments.paginator.num_pages }}">
                                <i class="fa fa-forward px-2"></i>
                            </a>
                        {% endif %}
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}

{% block js %}
<script>
    $(document).ready(function() {
        $('#lookModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var modal = $(this);
            
            modal.find('#modal-data-name').text(button.data('name'));
            modal.find('#modal-data-surname').text(button.data('surname'));
            modal.find('#modal-data-birth').text(button.data('birth'));
            modal.find('#modal-data-birthplace').text(button.data('birthplace'));
            modal.find('#modal-data-sex').text(button.data('sex'));
            modal.find('#modal-data-age').text(button.data('age'));
            modal.find('#modal-data-sacrament-date').text(button.data('sacrament-date'));
            modal.find('#modal-data-father').text(button.data('father'));
            modal.find('#modal-data-mother').text(button.data('mother'));
            modal.find('#modal-data-familytree').text(button.data('familytree'));
        });
    });

    $(document).ready(function() {
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var modal = $(this);
    
            var sacramentId = button.data('sacrament-id');
            var sacramentName = button.data('sacrament-name');
    
            modal.find('#modal-sacrament-name').text(sacramentName);
            modal.find('.btn-danger').attr('data-sacrament-id', sacramentId);
        });
    });
    
    function deleteSacrament() {
        var sacramentId = $('.btn-danger').data('sacrament-id');
        var form = $('<form>', {
            'method': 'POST',
            'action': '{% url "sacrament_delete" pk=0 %}'.replace('0', sacramentId),
        }).append($('<input>', {
            'type': 'hidden',
            'name': 'csrfmiddlewaretoken',
            'value': '{{ csrf_token }}'
        })).appendTo('body');
        form.submit();
    }
    
</script>
{% endblock js %}