{% extends 'base.html' %}

{% block title %} {{title}} {% endblock title %}

{% load static %}

{% block content %}

<div class="container-fluid py-4">
<div class="row">
    <div class="col-12">

        <div class="row">
            <div class="col-sm-9">
                <a class="add-button" href="{% url 'add_ministry' %}"> Ajouter un employé </a>
            </div>
            <div class="col-sm-3">
                <form class="d-flex" action="" method="GET">{% csrf_token %}
                    <i class="material-icons mr-2 mt-2 opacity-10">filter_list</i> <span class="mx-2 mt-2"> Filtrer </span>
                    <div class="input-group input-group-outline">
                        <label class="form-label">Filtrer...</label>
                        <input type="text" class="form-control" name="ministry_filter" value="{{ request.GET.ministry_filter }}">
                    </div>
                    <button class="btn btn-light d-none" type="submit">
                    </button>
                </form>
            </div>
        </div>

        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-info shadow-info border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-center text-capitalize ps-3"> Liste des Employés </h6>
            </div>
            </div>
            <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center justify-content-center mb-0">
                <thead>
                    <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Nom et Prénom </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Date et lieu de naissance </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Eglise </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Service </th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for ministry in ministries %}
                    <tr>
                    <td>
                        <div class="d-flex px-2">
                        <!-- div>
                            <img src="#" class="avatar avatar-sm rounded-circle me-2" alt="spotify">
                        </div -->
                        <div class="my-auto">
                            <h6 class="mb-0 text-sm ps-2"> {{ ministry.name }} {{ ministry.surname }} </h6>
                        </div>
                        </div>
                    </td>
                    <td>
                        <span class="text-xs font-weight-bold"> {{ ministry.birth }} à {{ ministry.birthplace }} </span>
                    </td>
                    <td>
                        <span class="text-xs font-weight-bold"> {{ ministry.works_at }} </span>
                    </td>
                    <td>
                        <span class="text-xs font-weight-bold"> {{ ministry.service }} </span>
                    </td>
                    </td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-link text-secondary mb-0" data-toggle="modal" data-target="#lookModal"
                            data-name="{{ ministry.name }}" data-surname="{{ ministry.surname }}"
                            data-birth="{{ ministry.birth }}" data-birthplace="{{ ministry.birthplace }}"
                            data-sex="{{ ministry.sex }}" data-age="{{ ministry.age }}"
                            data-service="{{ ministry.service }}" data-works-at="{{ ministry.works_at }}"
                            data-debuted-at="{{ ministry.debuted_at }}"
                        >
                            <i class="material-icons fs-3 opacity-10">perm_contact_calendar</i>
                        </button>

                        <button type="button" class="btn btn-link text-secondary mb-0">
                            <a href="{% url 'edit_ministry' pk=ministry.pk %}">
                                <i class="material-icons fs-3 opacity-10">mode_edit</i>
                            </a>
                        </button>

                        <button type="button" class="btn btn-link text-secondary mb-0" data-toggle="modal" data-target="#deleteModal"
                            data-ministry-id="{{ ministry.pk }}" data-ministry-name="{{ ministry.name }} {{ ministry.surname }}"
                        >
                            <i class="material-icons fs-3 opacity-10">highlight_off</i>
                        </button>

                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Confirmer la suppression</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Êtes-vous sûr de vouloir supprimer <span id="modal-ministry-name"></span> ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <button type="button" class="btn btn-danger" onclick="deleteMinistry()">Supprimer</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="lookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content p-3">
                                    <div class="modal-header">
                                        <i class="material-icons opacity-10" style="font-size: 50px">people</i>
                                    </div>

                                    <br>
                                    <p class="p-auto"> <b style="color: #009FF0"> Nom et prénom: </b> <span id="modal-data-name"></span> <span id="modal-data-surname"></span> </p>
                                    <p class="p-auto"> <b style="color: #009FF0"> Née le: </b>  <span id="modal-data-birth"></span> <b> à </b> <span id="modal-data-birthplace"></span> </p>
                                    <p class="p-auto"> <b style="color: #009FF0"> Sexe: </b> <span id="modal-data-sex"></span> </p>
                                    <p class="p-auto"> <b style="color: #009FF0"> Age: </b> <span id="modal-data-age"></span> </p>
                                    <p class="p-auto"> <b style="color: #009FF0"> Votre service au sein de l'église: </b> <span id="modal-data-service"></span> </p>
                                    <p class="p-auto"> <b style="color: #009FF0"> L'endroit où vous travaillez: </b> <span id="modal-data-works-at"></span> </p>
                                    <p class="p-auto"> <b style="color: #009FF0"> Date de début du service au sein de l'église: </b> <span id="modal-data-debuted-at"></span> </p>
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Fermer </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>

            <div class="pagination justify-content-center p-2">
                <span class="step-links">
                    {% if ministries.has_previous %}
                        <a href="?page=1">
                            <i class="fa fa-backward px-2"></i>
                        </a>
                        <a href="?page={{ ministries.previous_page_number }}">
                            <i class="fa fa-chevron-circle-left px-2"></i>
                        </a>
                    {% endif %}
            
                    <span class="current">
                        Page n° {{ ministries.number }} sur {{ ministries.paginator.num_pages }}
                    </span>
            
                    {% if ministries.has_next %}
                        <a href="?page={{ ministries.next_page_number }}">
                            <i class="fa fa-chevron-circle-right px-2"></i>
                        </a>
                        <a href="?page={{ ministries.paginator.num_pages }}">
                            <i class="fa fa-forward px-2"></i>
                        </a>
                    {% endif %}
                </span>
            </div>

            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}

{% block js %}
<script>
    $(document).ready(function() {
        $('#lookModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var modal = $(this);
            
            modal.find('#modal-data-name').text(button.data('name'));
            modal.find('#modal-data-surname').text(button.data('surname'));
            modal.find('#modal-data-birth').text(button.data('birth'));
            modal.find('#modal-data-birthplace').text(button.data('birthplace'));
            modal.find('#modal-data-sex').text(button.data('sex'));
            modal.find('#modal-data-age').text(button.data('age'));
            modal.find('#modal-data-service').text(button.data('service'));
            modal.find('#modal-data-works-at').text(button.data('works-at'));
            modal.find('#modal-data-debuted-at').text(button.data('debuted-at'));
        });
    });

    $(document).ready(function() {
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var modal = $(this);
    
            var ministryId = button.data('ministry-id');
            var ministryName = button.data('ministry-name');
    
            modal.find('#modal-ministry-name').text(ministryName);
            modal.find('.btn-danger').attr('data-ministry-id', ministryId);
        });
    });
    
    function deleteMinistry() {
        var ministryId = $('.btn-danger').data('ministry-id');
        var form = $('<form>', {
            'method': 'POST',
            'action': '{% url "ministry_delete" pk=0 %}'.replace('0', ministryId),
        }).append($('<input>', {
            'type': 'hidden',
            'name': 'csrfmiddlewaretoken',
            'value': '{{ csrf_token }}'
        })).appendTo('body');
        form.submit();
    }
    
</script>
{% endblock js %}
