{% extends 'base.html' %}
{% block title %} Résultat de la recherche pour {{ query }} {% endblock title %}

{% load class_name %}

{% block content %}

<div id="input-nav" class="p-3">
    <p class="text-muted m-0"> Environ {{ count }} résultats pour <b><em class="text-orange"> {{ query }}</em></b></p>
</div>
<br><br>

<style>
    .session-wrapper{
        position: relative;
    }
    .session{
        position: absolute; 
        top: -15px; 
        right: 25px; 
        z-index: 2;
    }
    .class-item {
        display: block;
        border-left: 4px solid #17a2b8; 
        padding: 1rem !important;
        background: #f8f9fa;
        border-radius: 3px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
        transition: .5s;
    }
    .class-item p{
        padding: 2px; 
        margin: 0; 
        color: #b4b4b4; 
        transition: .5s;
    }
    .class-item a{
        padding: 2px; 
        color: #343a40; 
        text-decoration: none; 
        transition: .5s;
    }
    .class-item:hover{
        transform: translateX(10px);
    }
    .class-item:hover h6 a {
        color: #17a2b8; 
    }
    .class-item:hover p, .class-item:hover span {
        color: #17a2b8; 
    }
    .info-text {
        display: inline-flex;
        padding: 10px 10px;
        font-size: 12px;
        color: #fff;
        background: #17a2b8;
        border-radius: 2em;
        /* box-shadow: 0px 2px 10px 2px #afafaf; */
        box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.3);
    }
</style>

<div class="card p-3 m-3" style="box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3); border-radius: 10px;">
    <h5 class="text-muted m-0">Environ {{ count }} résultats pour <b><em class="text-orange"> {{ query }}</em></b></h5>
    <hr>
    {% for object in object_list %}
        {% with object|class_name as klass %}

        {% if klass == 'Members' %}
            <div class="session-wrapper">
                <div class="session"><div class="info-text"> Membres de l'église </div></div>
            </div>
            <div class='col-12 class-item'>
                <h6><a href='{{ object.get_absolute_url }}'><b>{{ object.name }} {{ object.surname }}</b></a></h6>
                <span class="text-xxs"> Cette personne fait parti de la Famille de {{ object.familytree }} </span>
            </div><hr>

        {% elif klass == 'Baptisms' %}
            <div class="session-wrapper">
                <div class="session"><div class="info-text"> Membre ayant été baptisé </div></div>
            </div>
            <div class='col-12 class-item'>
                <h6><a href='{{ object.get_absolute_url }}'><b>{{ object.name }} {{ object.surname }}</b></a></h6>
                <span class="text-xxs"> Cette personne a été baptisé le {{ object.baptism_date }} </span>
            </div><hr>

        {% elif klass == 'Sacraments' %}
            <div class="session-wrapper">
                <div class="session"><div class="info-text"> Membre ayant déja pris part à leur "confirmation" </div></div>
            </div>
            <div class='col-12 class-item'>
                <h6><a href='{{ object.get_absolute_url }}'><b>{{ object.name }} {{ object.surname }}</b></a></h6>
                <span class="text-xxs"> Cette personne a été confirmé le {{ object.sacrament_date }} </span>
            </div><hr>
            
        {% elif klass == 'Churchs' %}
            <div class="session-wrapper">
                <div class="session"><div class="info-text"> Lieu de servitude </div></div>
            </div>
            <div class='col-12 class-item'>
                <h6><a href='{{ object.get_absolute_url }}'><b>{{ object.church_name }}</b></a></h6>
                <span class="text-xxs"> Cette personne sert dans l'église de la Synode à {{ object.church_synod }} </span>
            </div><hr>

        {% elif klass == 'Ministries' %}
            <div class="session-wrapper">
                <div class="session"><div class="info-text"> Service dont le membre a été appointé </div></div>
            </div>
            <div class='col-12 class-item'>
                <h6><a href='{{ object.get_absolute_url }}'><b>{{ object.name }} {{ object.surname }}</b></a></h6>
                <span class="text-xxs"> Cette personne oeuvre en tant que {{ object.service }} depuis {{ object.debuted_at }} à {{ object.works_at }} </span>
            </div><hr>
        {% endif %}

        {% endwith %}

{% empty %}

<div class='row'>
    <div class="col-12 text-center">
        <p>
            <i class="far fa-frown fa-2x"></i> Aucun résultat pour votre recherche 
        </p>
    </div>
    <div class='col-12 col-md-6 mx-auto my-5 py-5'>
    <form method='GET' class='' action='.'>
    
        <div class="input-group form-group-no-border mx-auto" style="margin-bottom: 0px; font-size: 32px;">
            <div class="input-group input-group-outline">
                <label class="form-label">Rechercher... </label>
                <input type="text" class="form-control" name="q" data-toggle="popover" data-placement="bottom" data-content="Press enter to search" value="{{ request.GET.q }}" data-original-title="" title="" autofocus="autofocus" required>
            </div>
            <button type="submit" class="btn btn-light d-none">
            </button>
        </div>

    </form>

    </div>
    <div class="col-12 pl-5">
    <h5>Faites une reherche en vous basant sur les :</h5>
    <ul class="pl-3">
        <li>Membres de l'église </li>
        <li>Membres ayant été baptisés </li>
        <li>Mebres ayant été confirmés </li>
        <li>Lieux de servitude </li>
        <li>Employés</li>

    </ul>
    </div>
</div>

{% endfor %}
</div>

{% endblock content %}
