{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <h3 class="font-weight-bolder mb-0"> Fiangonana Loterana Malagasy </h3>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          <div class="input-group input-group-outline">
            <label class="form-label">Recherche...</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </li>
          <div class="nav-item px-2 d-flex align-items-center">
            <i class="material-icons opacity-10">build</i>
            <div class="form-check form-switch ps-0 ms-2 my-auto">
              <input class="form-check-input mt-0 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">
            </div>
          </div>
          <div class="nav-item px-2 d-flex align-items-center">
            <i class="material-icons opacity-10">wb_sunny</i>
              <div class="form-check form-switch ps-0 ms-2 my-auto">
                <input class="form-check-input mt-0 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
              </div>
            <i class="material-icons opacity-10">brightness_3</i>
          </div>
          
          <li class="nav-item px-2 d-flex align-items-center">
            <a href="{% url 'logout' %}" class="nav-link text-body font-weight-bold px-0"  style="padding-top: .8rem">
              <i class="fa fa-sign-out" style="font-size: 18px"></i>
            </a>
          </li>
         

        </ul>
      </div>
    </div>
</nav>