{% extends 'base.html' %}

{% block title %} {{title}} {% endblock title %}

{% load static %}

{% block content %}

<div class="container-fluid py-4">
<div class="row">
    <div class="col-12">

        <center><div class="card col-9 my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-info shadow-info border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-center text-capitalize ps-3"> Importer les données </h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <input type="file" class="mb-2" style=" padding: 5px; border: 1px solid  #45cafc" name="places_file" />
                    <br>
                    <input class="btn btn-outline-info" type="submit" value="Importer le fichier"/>
                </fom>
            </div>
        </div></center>
    </div>
</div>
</div>

{% endblock content %}